<!--
 Capítulo 2
Raúl es un hombre muy atropellado y con mucha mala suerte.
A lo largo de los capítulos va atravesando diferentes situaciones que le complican su viaje.
Esta historia describe su viaje desde Argentina a México para visitar a su amigo Rafael.

El vuelo de Raúl sale a las 5 AM y conociendo su mala suerte decide llegar temprano al aeropuerto.
Para ello opta por no dormir para salir con tiempo para el aeropuerto.

Frases
"Para evitar dormirse Raúl decide prender la TV y buscar algo entretenido. Al encenderla hace zapping
y descubre que el único canal que anda es uno en el que están repitiendo el documental de 4 horas sobre
la historia de los flamencos rosados de pico angosto.”

"Me sobresalto por un ruido que me costó identificar. Escucho más atentamente y descubro de qué se
trata. Es el hijo del vecino que volvía ebrio nuevamente. Miro el reloj que tengo frente al sillón y
mis ojos no pueden creerlo. Son las 2 AM. Me quedé dormido.” Esta debe ser la última frase del capítulo
-->
<!-- ESCRIBAN SU CAPÍTULO DEBAJO DE ESTE COMENTARIO Y LUEGO ELIMINEN LOS COMENTARIOS -->
<h1> El viaje inesperado </h1>
<p> Para evitar dormirme, decidi prender la TV y buscar algo entretenido. Al encenderla hice zapping
y descubri que el único canal que anda es uno en el que están repitiendo el documental de 4 horas sobre
la historia de los flamencos rosados de pico angosto.
   Entonces, para mi sorpresa, hay una baja de tension, la cual me quema el TV. Decido salir afuera a contemplar la constelacion de sagitario. Para mi sorpresa, un pegaso se acerca de la luna y se dirige hacia a mi con toda velocidad. Me doy cuenta que puedo hablar pegasunes con fluidez. Me dijo que era el elejido para salvar la galaxia del norte del malvado Night King y su ejercito de muertos vivientes.
    Y, para mi sorpresa, me entero que mi nombre real es Neo (segun pegaso), y esta es una realidad 
    alterna. Luego decido partir hacia el ropero para acabar con el reinado del NK, guiado por Aslan el leon. Me anoto al torneo por la pelea y sin darme cuenta ya estoy peleando contra Subzero, un humanoide de hielo. Pelea tras pelea, derroto a cada oponente. Ya me encuentro en la final contra el Night King cuando mi espada se rompe. Suerte que tenia mi sacacorchos y se lo clavo en el corazon. Al ganar la pelea, el rey de la galaxia me ofrece ser el capitan de los guardianes de la galaxia. Entonces le digo que no tengo ganas, a lo cual lo invito a tomar unos buenos mates cebados por Scorpion. Justo cuando Scorpion me ceba ese manjar verde traido de las montañas de Misiones...
    Me sobresalto por un ruido que me costó identificar. Escucho más atentamente y descubro de qué se
trata. Es el hijo del vecino que volvía ebrio nuevamente. Miro el reloj que tengo frente al sillón y
mis ojos no pueden creerlo. Son las 2 AM. Me quedé dormido. </p>






</p>
