<!--
 Capítulo 1
 Raúl es un hombre muy atropellado y con mucha mala suerte.
 A lo largo de los capítulos va atravesando diferentes situaciones que le complican su viaje.
 Esta historia describe su viaje desde Argentina a México para visitar a su amigo Rafael.

 Este capítulo cuenta sobre la carta que recibió Raúl de su amigo Rafael que no ve desde hace 30 años.

 Frases
 "Me acerco a la puerta de mi casa para buscar el diario y me encuentro un sobre,
 parecía un carta. Intento leer el remitente pero desde hace años que sin mis lentes no puedo leer 
 bien.
 Voy a la cocina y cuando encuentro los lentes descubro que la carta era de mi viejo amigo Rafael.
 No puedo contener la emoción y me quedo mirándola por unos segundos sin hacer nada. Finalmente decido
  abrirla.”

 "No lo dudo más, enciendo la computadora y saco el primer pasaje disponible a Cancún. Viajo mañana 
 a las 5 AM.” Esta debería ser la última frase del capítulo.
-->

<!-- ESCRIBAN SU CAPÍTULO DEBAJO DE ESTE COMENTARIO Y LUEGO ELIMINEN LOS COMENTARIOS -->







<h2>Primer capitulo</h2>
<p>Pido el tiempo. Faltan 5 minutos más el descuento para terminar el partido. Barría el piso como nadie, era imparable. En eso pierdo el equilibrio y caigo estrepitosamente, cual clase de IS sin animación copada. Lo ultimo que llego a escuchar es un débil "Vamos, Raulito!" de parte de mi público.</p>
<p>Despierto sin más con el llamado de la kelly. Como todas las mañanas, luego de recordarme a  mí mismo mi sueño frustrado de convertirme en jugador profesional de CURLING, me acerco a la puerta de mi casa para buscar el diario  y me encuentro un sobre, parecía un carta. Intento leer el remitente pero desde hace años que sin mis lentes no puedo leer bien. Apurado, camino hacia la cocina, me pego un golpe terrible con la pata de la mesa y recién ahí me doy cuenta que seguía descalzo. Después de unos segundos de agonía, me dirijo hacia la mesa de looz de la habitación. Encuentro los lentes. Me doy cuenta que perdí la carta y vuelvo a buscarla. Nuevamente a la altura de la mesa, una de sus patas me vuelve a jugar una mala pasada: SIGO ESTANDO DESCALZO. Al llegar a la puerta me deprimo porque no estaba. Me pongo triste. Lo bueno es que pronto descubro que la carta todo el momento estuvo en mi mano. Por primera vez miro el remitente: era mi viejo amigo, Rafael. No puedo contener la emoción y me quedo mirándola por unos segundos sin hacer nada. ¿Qué tantas chances de que la carta sea una bomba tenía? Finalmente decido abrirla.</p>

<p>La kely me llama diciendo que el desayuno ya estaba listo. Camino al comedor intento empezar a leer la carta, pero nuevamente el modular de mi casa atenta contra mi dedo meñique del pie. Ya no lo aguanto y voy a calzarme. Llego al comedor y me siento a leer. </p>
<p>Era mi amigo Rafael. Me contaba de su feliz vida en Mexico, Cancún. Estaban contentos porque iban a adoptar un hijo co su pareja, Horacio. La carta seguía contandome detalles sobre la boda. Al parecer era este finde y yo estaba invitado. Podría haberme enterado de más si no fuera por la torpeza de la kelly que cuando me fue a servir el café, le erró a mi mano y lo derramó por la mitad de mi carta. Entonces me enojo y la despido. Aún teniendo la adrenalina por los cielos por saber que mi amigo se acordó de mi,</p>
<h6>
	no lo dudo más, enciendo la computadora y saco el primer pasaje disponible a Cancún. Viajo mañana 
 a las 5 AM.
</h6>



